# Forest fire prediction

## Data Pre processing

### Loading numpy and pandas

In [2]:

import numpy as np
import pandas as pd

### reading csv file

In [7]:

data = pd.read_csv("forest.csv")
data.shape
data.head()

   Temperature  Humidity  Day  Summer
0           35        40    1       1
1           35        40    1       1
2           35        40    1       1
3           35        40    1       1
4           35        40    1       1

### Renaming columns

In [10]:
data = data.rename(columns ={"Day":"isDay"})
data
data = data.rename(columns ={"Summer":"isSummer"})
data.head()

   Temperature  Humidity  isDay  isSummer
0           35        40      1         1
1           35        40      1         1
2           35        40      1         1
3           35        40      1         1
4           35        40      1         1

### Describe and info

In [12]:
data.describe()

       Temperature  Humidity      isDay   isSummer
count    33.000000      33.0  33.000000  33.000000
mean     36.666667      40.0   0.757576   0.818182
std       2.393568       0.0   0.435194   0.391675
min      35.000000      40.0   0.000000   0.000000
25%      35.000000      40.0   1.000000   1.000000
50%      35.000000      40.0   1.000000   1.000000
75%      40.000000      40.0   1.000000   1.000000
max      40.000000      40.0   1.000000   1.000000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  33 non-null     int64
 1   Humidity     33 non-null     int64
 2   isDay        33 non-null     int64
 3   isSummer     33 non-null     int64
dtypes: int64(4)
memory usage: 1.2 KB

## Machine Learning Model

### Loading libraries

In [20]:
import sklearn
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

NameError: name 'X' is not defined

In [1]:
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree import DecisionTreeRegressor