In [2]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv("switzerland.csv")
data.head()

         3001 0 65 1 1 1 1
0    -9 4 115 0 0 -9 -9 -9
1       0 -9 -9 0 1 9 85 0
2    1 1 0 1 12 8.3 -9 100
3  93 56 185 80 115 70 1 0
4    0 2 -9 -9 -9 -9 -9 -9