In [5]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv("switzerland.csv")
data

            3001 0 65 1 1 1 1
0       -9 4 115 0 0 -9 -9 -9
1          0 -9 -9 0 1 9 85 0
2       1 1 0 1 12 8.3 -9 100
3     93 56 185 80 115 70 1 0
4       0 2 -9 -9 -9 -9 -9 -9
...                       ...
1224   0 -9 -9 -9 -9 -9 -9 -9
1225      -9 -9 -9 7 1 0 -9 7
1226         4 85 1 1 1 1 1 1
1227          1 1 1 2 1 1 1 1
1228          1 1 70 -9. name

[1229 rows x 1 columns]