## Importing libraries

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('house.csv')

In [5]:
data.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41,880,129,322,125,8.30,452600,Near Bay
1,-122.24,37.89,28,1233,300,500,177,7.25,350000,Near Bay
2,-122.25,37.90,36,1586,471,678,229,8.54,380000,Near Bay
3,-122.26,37.91,42,1939,642,856,281,7.70,452601,Near Bay
4,-122.27,37.92,29,2292,813,1034,333,9.30,350001,Near Bay

## Scaling data with min max scaler

In [6]:
from sklearn.preprocessing import MinMaxScaler

#### Data preprocessing

In [8]:
data = data.drop(data.columns[[9]], axis = 1)

In [9]:
scaler = MinMaxScaler()
scaler.fit(data)
scaled_data = pd.DataFrame(data = scaler.transform(data), columns = data.columns, index = data.index )
scaled_data.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,1.000000,0.000000,0.317073,0.000000,0.000000,0.000000,0.000000,0.047106,0.999727
1,0.988372,0.011628,0.000000,0.011628,0.011628,0.011628,0.011628,0.000000,0.000000
2,0.976744,0.023256,0.195122,0.023256,0.023256,0.023256,0.023256,0.057873,0.292318
3,0.965116,0.034884,0.341463,0.034884,0.034884,0.034884,0.034884,0.020188,0.999737
4,0.953488,0.046512,0.024390,0.046512,0.046512,0.046512,0.046512,0.091969,0.000010