# Importing libraries

In [2]:
import pandas as pd
import numpy as np

## Loading data

In [3]:
data = pd.read_csv("employee.csv")

In [4]:
data.head()

   Employee_id Gender    Remarks
0           45      M       nice
1           46      F       good
2           47      M      great
3           48      F  excellent
4           49      M        bad

## Checking the labels in the column

In [5]:
data['Gender'].unique()

array(['M', 'F'], dtype=object)

In [6]:
data['Remarks'].unique()

array(['nice', 'good', 'great', 'excellent', 'bad'], dtype=object)

## Checking count of each column

In [9]:
data['Gender'].value_counts()

M    22
F    21
Name: Gender, dtype: int64

In [10]:
data['Remarks'].value_counts()

nice         9
good         9
great        9
excellent    8
bad          8
Name: Remarks, dtype: int64

## Approach 1: Label Encoding

##### label encoder encodes labels with value between 0 and number_of_class-1

##### Categorical data to numeric form

In [12]:
from sklearn.preprocessing import LabelEncoder
label_encoder_x = LabelEncoder()

In [13]:
label_encoded_data = label_encoder_x.fit_transform(data['Remarks'])

In [15]:
label_encoded_data = pd.DataFrame(data = label_encoded_data, columns = ['Remarks'])

In [16]:
label_encoded_data

    Remarks
0         4
1         2
2         3
3         1
4         0
5         4
6         2
7         3
8         1
9         0
10        4
11        2
12        3
13        1
14        0
15        4
16        2
17        3
18        1
19        0
20        4
21        2
22        3
23        1
24        0
25        4
26        2
27        3
28        1
29        0
30        4
31        2
32        3
33        1
34        0
35        4
36        2
37        3
38        1
39        0
40        4
41        2
42        3

In [18]:
label_encoded_data['Remarks'].unique()

array([4, 2, 3, 1, 0])

## Approach 2: One Hot Encoding

##### Binary labeling with 1 at position where the label is present else 0

In [19]:
one_hot_encode = pd.get_dummies(data,columns = ['Remarks','Gender'])

In [21]:
one_hot_encode

,Employee_id,Remarks_bad,Remarks_excellent,Remarks_good,Remarks_great,Remarks_nice,Gender_F,Gender_M
0,45,0,0,0,0,1,0,1
1,46,0,0,1,0,0,1,0
2,47,0,0,0,1,0,0,1
3,48,0,1,0,0,0,1,0
4,49,1,0,0,0,0,0,1
5,50,0,0,0,0,1,1,0
6,51,0,0,1,0,0,0,1
7,52,0,0,0,1,0,1,0
8,53,0,1,0,0,0,0,1
9,54,1,0,0,0,0,1,0
10,55,0,0,0,0,1,0,1
11,56,0,0,1,0,0,1,0
12,57,0,0,0,1,0,0,1
13,58,0,1,0,0,0,1,0
14,59,1,0,0,0,0,0,1
15,60,0,0,0,0,1,1,0
16,61,0,0,1,0,0,0,1
17,62,0,0,0,1,0,1,0
18,63,0,1,0,0,0,0,1
19,64,1,0,0,0,0,1,0
20,65,0,0,0,0,1,0,1
21,66,0,0,1,0,0,1,0
22,67,0,0,0,1,0,0,1
23,68,0,1,0,0,0,1,0
24,69,1,0,0,0,0,0,1
25,70,0,0,0,0,1,1,0
26,71,0,0,1,0,0,0,1
27,72,0,0,0,1,0,1,0
28,73,0,1,0,0,0,0,1
29,74,1,0,0,0,0,1,0
30,75,0,0,0,0,1,0,1
31,76,0,0,1,0,0,1,0
32,77,0,0,0,1,0,0,1
33,78,0,1,0,0,0,1,0
34,79,1,0,0,0,0,0,1
35,80,0,0,0,0,1,1,0
36,81,0,0,1,0,0,0,1
37,82,0,0,0,1,0,1,0
38,83,0,1,0,0,0,0,1
39,84,1,0,0,0,0,1,0
40,85,0,0,0,0,1,0,1
41,86,0,0,1,0,0,1,0
42,87,0,0,0,1,0,0,1